@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&family=Montserrat&display=swap');
:root {
	--color-offwhite: #fff;
	--color-background: #F1EBDA;
	--color-theme: #9F812E;
	--color-theme-dark: #111111;
	--color-theme-medium: #9F812E;
	--color-theme-light: #BDA665;

	--font-serif: 'Martel', serif;
	--font-sans: 'Montserrat', sans-serif;

}

body {
	background: var(--color-background);
}

@media(max-width: 810px){
	.container{
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1{
		padding-left: 0.5em;
	}
}

@media(max-width: 400px){
	.navbar .display-flex{
		display: block;
	}
	.navbar .nav li{
		line-height: 1.5em;
	}
}
.figure.product {
	border-radius: 1.5em;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.product.figure img {
	height: 100%;
	object-fit: contain;
}
.productlist a{
	text-decoration: none;
	font-weight: initial;
}
.product.figure:hover {
	box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}



.product-overlay {
	position: relative;
	overflow: hidden;
	border-radius: 1.5em;
}

.product-overlay figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	color: var(--color-white);
}

.product-overlay:hover figcaption {
	opacity: 1;
}

.product-overlay .caption-body {
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all 0.3s;
}

.product-overlay:hover .caption-body {
	transform: translateY(0);
}

.product-overlay img {
	transform: scale(1,1);
	transition: all 0.3s;
}

.product-overlay:hover img {
	transform: scale(1.4,1.4);
}

@media(max-width: 600px) {
.product-overlay figcaption {
	position: relative;
	display: block;
	top: initial;
	left: initial;
	width: 100%;
	height: initial;
	opacity: 1;
	background-color: initial;
}
.product-overlay .caption-body {
	transform: none;
	padding: 0;
}	
}

h1 {
	color: var(--color-theme-dark);
}
.product-category h2 {
	color: var(--color-theme-dark);
}
.product-category .view-window {
	height: 20vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/* Product Card */
.product-card-container {
	display: flex;
	overflow: scroll;
	margin-bottom: 40px;
	flex-wrap: wrap;
}
.product-card {
	width: 18%;
	margin-right: 7%;
	margin-bottom: 40px;
	text-align: center;
}
.product-card-image {
	position: relative;
	margin-bottom: 5px;
}
.product-card-image h4 {
	width: 100%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,0);
    font-family: var(--font-sans);
    font-weight: 800;
    -webkit-text-stroke: 0.7px var(--color-offwhite);
}
.product-card-image img {
	height: 20vh;
}
.product-card-description h5{
	margin: 0 auto;
}
.product-card-description p{
	height: 50px;
	text-align: left;
	font-weight: 300;
	font-size: 13px;
	inline-size: 100%;
	overflow-wrap: break-word;
    hyphens: auto;
}
.product-card-description form {
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
}
.product-card-description form input {
	width: 70%;
	margin: 0 5px;
}
.product-card-description form .value-button {
  display: inline-block;
  border: 1px solid var(--color-theme);
  width: 10%;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  background: var(--color-theme);
  color: white;
}
.product-card-description form .value-button:hover {
	border: 1px solid var(--color-theme-medium);
	background: var(--color-theme-medium);
}
.product-card-description button{
	width: 100%;
	border: none;
	border-radius: 5%;
	padding:10px 0;
	background-color: var(--color-theme);
	color: white;
	font-weight: 300;
}
.product-card-description button:hover{
	background-color: var(--color-theme-medium);
}

.favorite label {
	transition: all 0.3;
	display: inline-block;
	position: relative;
	transform: scale(1,1);
	color: var(--color-brown-medium);
	font-size: 1.5em;
}

.favorite input:checked + label {
	color: #D01B00;
	transform: scale(1.5, 1.5);
}

.nav-toggle label{
	display:none;
}
.well {
	border: 1px solid var(--color-neutral-medium) ;
	text-align: center;
}




/* Module 10 Class Note */
.product.figure img {
	height: 100%;
	object-fit: contain;
}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

.product.figure:hover {
	box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}

.images-main img {
	width: 100%;
	height: 40vh;
	object-fit: contain;
}
.images-thumbs img {
	width: 8em;
	height: 6em;
	object-fit: contain;
}

/* Module 11 Class Note */
span.badge:not(:empty)::after {
	content: ')';
}
span.badge:not(:empty)::before {
	content: '(';
}