

:root {
	--color-white:#FFFFFF;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color:var(--color-white) ;
    padding-bottom: 4em;
}

@media (max-width:800px){
    .container{
        padding-left: 1em;
        padding-right: 1em;
    }
    .navbar h1 {
        padding-left: 0.5em;
        padding-top: 0.4em;
        margin-top: 0;
    }

}

@media (max-width:500px){
    .navbar .display-flex {
        display: block;
    }
    .navbar .nav li{
        line-height: 2em;
        padding: 0.5em;   
    }
}

.images-main img{
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

.images-thumbs img {
    width: 8em;
    height: 6em;
    object-fit: contain;

}

.favorite label {
    transition: all 0.3s;
    display: inline-block;
    transform: scale(1,1);
}

.favorite input:checked + label {
    color:red;
    transform: scale(1.5,1.5);
}




.back {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 70px;
    bottom: 50px;
    border-radius: 50%;
    background-color:#f6c668;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    line-height: 45px;
    text-decoration: none;
    text-decoration-color:#f6c668;
}


