
:root{
	--color-white: #FFFFFF;
}

body {
	background-color: var(--color-white);
	margin-bottom: 5em;
}

.content{
	height: 1100px;
}

#article1{
	margin-top: 60px;
}

.article-body{
	line-height: 1.3em;
}



/*Heart Checkbox*/
.favorite label{
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);
}

.favorite input:checked + label{
	color: red;
	transform: scale(1.3, 1.3);
}






article {
	flex-direction: row;
}

@media (max-width: 1000px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1{
		padding-left: 0.5em;
	}
}


@media (max-width: 400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}


/*  ------------------------- ARTICLE BLOCKS -------------------------  */

.article-block {
	border-bottom: 0.5px solid var(--color-neutral-dark);
	padding-bottom: 2em;
	margin-top: 2em;
}


.article a{
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
}


/*  ------------------------- NEW ARRIVALS  ------------------------- */

.new-arrivals{
	margin-top: 100px;
}

.new-arrivals div{
	width: 100%;
	height: 70vh;
	background-size: cover;
	background-position: center;
}

.new-arrivals a{
	color: rgba(200, 211, 222, 0.8); 
	font-size: 4em;
	font-weight: bold;
	text-align: center;

}

