
:root{
	--color-white: #FFFFFF;
}

body {
	background-color: var(--color-white);
}


#article1{
	margin-top: 60px;
}

.article-body{
	line-height: 1.3em;
}


/*Heart Checkbox*/
.favorite label{
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);
}

.favorite input:checked + label{
	color: red;
	transform: scale(1.3, 1.3);
}




article {
	flex-direction: row;
}

@media (max-width: 1000px) {
	.navbar h1{
		padding-left: 0.5em;
	}
}


@media (max-width: 400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}



/*  ------------------------- HEADER -------------------------  */

header{
	width: 100%;
	background-color: var(--color-white);
	position: sticky;
    top: 0;
    z-index: 10;
}

.sitename a{
	text-decoration: none;
}






/*  ------------------------- PRODUCT LIST & FIGURE OVERLAY -------------------------  */

.product-list-container{
	padding: 0 0.5em 0 0.5em;
}

.productlist a{
	text-decoration: none;
	font-weight: initial;
}


.figure.product-overlay img{
	object-fit: contain;
    height: 100%
}

.product-overlay{
	border: none;
	border-bottom: none;
	position: relative;
	overflow: hidden;
	height: 100%;

}

.product-overlay figcaption {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(149,247,120,0.6);
	display: flex;
	opacity: 0;
	transition: all 0.2s;
	padding: 0.7em; 
}


.product-overlay figcaption>a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.product-overlay figcaption h5{
	margin: 0;
	line-height: 1.5em;
}




.product-overlay:hover figcaption {
	opacity: 1;

}


.product-overlay.center figcaption {
	align-items: center;
	justify-content: center;
}


/*  ------------------------- PRODUCT ITEM -------------------------  */

.images-main img {
	width: 100%;
	object-fit: contain;
}

.images-thumbs img {
	width: 5em;
	object-fit: contain;
	margin-bottom: 0.1em;
}

@media (min-width: 900px) {
	.images-thumbs{
		flex-direction: column;
	}
}




/*  ------------------------- CART LIST -------------------------  */

.cart-list {
	padding-top: 0.3em;
}

.cart-list img {
	height: 6em;
	width: 6em;
	margin: 0;
	padding: 0;
}

.cart-list h5 {
	margin-top: 0;
	margin-left: 0.5em;
	padding: 0;
}

.cart-list h6 {
	margin: 0;
	margin-left: 0.5em;
}

.cart-list~.cart-list {
	border-top: 0.5px solid var(--color-neutral-dark);
}




/*  ------------------------- CHECKOUT -------------------------  */

.checkout-summary {
	width: 50%;
}

.checkout-list {
	padding-top: 0.3em;
}

.checkout-list img {
	height: 4em;
	width: 4em;
	margin: 0;
	padding: 0;
}

.checkout-list h6 {
	margin-top: 0;
	margin-left: 0.5em;
	padding: 0;
}

.checkout-list~.checkout-list {
	border-top: 0.5px solid var(--color-neutral-dark);
}



/*  ------------------------- FOOTER-------------------------  */

footer{
	width: 100%;
	margin-bottom: 0;
	padding: 0;
	position: static;
	bottom: 0;
}


.footer-body{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--color-main-dark);
	padding: 1em 0;
}


.footer-body h4 {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}

.footer-body ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

.footer-body li{
	font-size: 0.85em;
	line-height: 1.2em;
}

footer .nav a{
	width: fit-content;
}

footer .nav a:hover{
	font-family: SuisseBook;
	background-color: transparent;
	text-decoration: none;
}

@media (max-width: 820px) {
	footer .footer-body {
		flex-direction: column;
	}
	footer .layout-main-col {
		padding: 0 1em 0 1em;
	}
}

@media (max-width: 1200px) {
	footer .layout-main-cols {
		flex-direction: column;
	}
}


/* Newsletters*/

.newsletters input{
	border-bottom: 0.7px solid var(--color-black);
}

.newsletters input:focus{
	border-bottom: 1.2px solid var(--color-black);
}

form h5{
	margin-top: 0px;
	padding-top: 0px;
}

footer .form-button{
	padding: 0.5em;
}

.footer-credit {
	margin: 10px;
	padding: 0 0.5em;
}

.footer-credit h6{
	padding:0;
	margin: 0;
}































