
:root{
	--color-white: #FFFFFF;
}

body {
	background-color: var(--color-white);
}


#article1{
	margin-top: 60px;
}

.article-body{
	line-height: 1.3em;
}


/*Heart Checkbox*/
.favorite label{
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);
}

.favorite input:checked + label{
	color: red;
	transform: scale(1.3, 1.3);
}




article {
	flex-direction: row;
}



/*  ------------------------- HEADER -------------------------  */

header{
	width: 100%;
	background-color: var(--color-white);
	position: sticky;
    top: 0;
    z-index: 10;
}

header a{
	text-decoration: none;
}

header .nav-flex a {
	padding: 0.2em 0em 0.2em 3em;
}


@media (max-width: 900px) {
	header .nav-flex {
		flex: 1 1 20px;
		border-top: 1px solid var(--color-neutral-medium);
		border-bottom: 1px solid var(--color-neutral-medium);
		padding: 0.5em 0;
		margin-bottom: 0.3em;
	}

	header .nav-flex a {
		padding: 0em;
	}

	header .nav-flex ul {
		justify-content: space-between;
	} 
}

/* cart badge */

span.badge:not(:empty)::before{
	content: '( ';
}
span.badge:not(:empty)::after {
	content: ' )';
}


/*  ------------------------- LANDING PAGE -------------------------  */


.layout-body.landing {
	margin-bottom: 0;
	padding-bottom: 0;
}

.landing-image {
	width: 100%;
	box-sizing: border-box;

	padding: 0 1.5em 0 0.5em;
}

.landing-image img {
	width: 100%;
	transition: all 1s; 
}

.landing-image img:hover {
	transform: scale(1.02);
}

.landing-image h2 {
	width: fit-content;
	margin: 0;

	position: absolute;
	top: 0;
	z-index: 3
	opacity: 0;
	pointer-events: none;
}

.landing-image h2.show {
	opacity: 1;
}

.new-product img {
	object-fit: contain;
    height: 100%;
    width: 100%;
    vertical-align: text-bottom;
}


/*  ------------------------- PRODUCT LIST PAGE -------------------------  */


/*  1. SIDE NAV, PRODUCT LIST LAYOUT AND OVERLAY */
.menu-button label {
	display: none;
}

.product-list-container{
	padding: 0 1.5em 0 0.5em;
}

@media (max-width: 900px) {
	.product-list-container{
		padding: 0 1.25em 0 1em;
	}
}

@media (max-width: 900px){
	.menu {
		display: none;
	}

	.menu ul {
		display: block;
	}

	.menu li{
		padding-bottom: 0.4em;
	}

	.sorting-bar {
		flex-direction: column;
	}

	.js-sort {
		margin: 0.5em 0;
	}


	.menu-button label {
		display: inline-block;
		padding: 0 0.5em;
		cursor: pointer;
	}

	#menu:checked+.menu {
		display: block;
		position: absolute;
		background-color: var(--color-neutral-light);
        width: 100%;
        padding: 2em 1em 1.5em 1em;
    }

}

.productlist a{
	text-decoration: none;
	font-weight: initial;
}


.figure.product-overlay img{
	object-fit: contain;
    height: 100%
}

.product-overlay{
	border: none;
	border-bottom: none;
	position: relative;
	overflow: hidden;
	height: 100%;

}

.product-overlay figcaption {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(149,247,120,0.6);
	display: flex;
	opacity: 0;
	transition: all 0.2s;
	padding: 0.7em; 
}

@media (max-width: 900px){
	.product-overlay figcaption{
		background-color: transparent;
		opacity: 1;
	}
}


.product-overlay figcaption>a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.product-overlay figcaption h5{
	margin: 0;
	line-height: 1.5em;
}

.product-overlay:hover figcaption {
	opacity: 1;

}

.product-overlay.center figcaption {
	align-items: center;
	justify-content: center;
}


/*  2. LARGE SCREEN SEARCH BAR */
#large-screen-search-bar {
	display: block;
}

@media (max-width: 900px){
	#large-screen-search-bar{
		display: none;
	}
}

#large-screen-search-bar .search-bar {
	-webkit-appearance: none;
	outline: 0;
	display: flex;

	--size: 40px;
	height: var(--size);
	width: 100%;
	border: 1px solid var(--color-neutral-medium);
	background-color: transparent;
	position: relative;
	transition: width 300ms ease-in-out;
	overflow: hidden;
}

#large-screen-search-bar .search-bar-input {
	-webkit-appearance: none;
	outline: 0;

	font-family: EuclidMono;
   	font-size: 1em;
   	line-height: calc(var(--size) - 2px);

	flex-grow: 1;
    background-color: transparent;
    border-width: 0;
    padding: 0.3em 0 0.3em 0.7em;
   	position: absolute;
   	top: 0;
   	left: 0;
   	bottom: 0;

   	width: calc(100% - var(--size));
}

#large-screen-search-bar .search-bar-input:focus {
	outline: 0;
}

#large-screen-search-bar .search-bar-button{
	-webkit-appearance: none;
	outline: 0;
    border-width: 0;
    cursor: pointer;
    
    font-size: 1em;
    color: var(--color-black);
	background-color: transparent;

	padding: 0;
    text-align: center;

    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    margin-left: auto;
}

#large-screen-search-bar .search-bar-button:hover {
	transform: scale(1.05);
}



/*  2. SMALL SCREEN SEARCH BAR */

#small-screen-search-bar {
	display: block;
}

@media (min-width: 901px){
	#small-screen-search-bar{
		display: none;
	}
}


#small-screen-search-bar .search-bar {
	-webkit-appearance: none;
	outline: 0;
	display: flex;

	--size: 40px;
	height: var(--size);
	width: var(--size);
	border: 0;
	background-color: transparent;
	position: relative;
	transition: width 300ms cubic-bezier(0.74, -0.01, 0.3, 1.02);
	overflow: hidden;
	float: right;
}

#small-screen-search-bar .search-bar-input {
	-webkit-appearance: none;
	outline: 0;

	font-family: EuclidMono;
   	font-size: 1em;
   	line-height: calc(var(--size) - 2px);

	flex-grow: 1;
    background-color: transparent;
    border-width: 0;
    padding: 0.3em 0 0.3em 0.7em;
   	position: absolute;
   	top: 0;
   	left: 0;
   	bottom: 0;
   	opacity: 0;
   	cursor: pointer;
}

#small-screen-search-bar .search-bar-input:focus {
	outline: 0;
}

#small-screen-search-bar .search-bar-button{
	-webkit-appearance: none;
	outline: 0;
    border-width: 0;
    cursor: pointer;
    
    font-size: 1em;
    color: var(--color-black);
	background-color: transparent;

	padding: 0;
    text-align: center;

    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    margin-left: auto;
}

#small-screen-search-bar .search-bar-button:hover {
	transform: scale(1.05);
}


#small-screen-search-bar .search-bar:focus-within {
	width: 100%;
	border: 1px solid var(--color-neutral-medium);
}

#small-screen-search-bar .search-bar:focus-within>.search-bar-input {
	opacity: 1;
	cursor: initial;
	width: calc(100% - var(--size));
}



/*  ------------------------- PRODUCT ITEM PAGE-------------------------  */

.product-item-images img{
	cursor: pointer;
}

.images-main img {
	width: 100%;
	object-fit: contain;
}

.images-thumbs img {
	width: 5em;
	object-fit: contain;
	margin-bottom: 0.1em;
}

@media (min-width: 900px) {
	.images-thumbs{
		flex-direction: column;
	}
}



/* RECOMMEND LIST*/

@media (max-width: 900px){
	.recommend-list figcaption{
		background-color: rgba(149,247,120,0.6);
		opacity: 0;
	}
}

@media (max-width: 600px) {
	.recommend-list figcaption:hover{
		opacity: 0;
	}
}

/*  ------------------------- CART LIST -------------------------  */

.list {
	
	padding-top: 0.3em;
}

.list h5, .list form {
	margin-top: 0;
	margin-left: 0.5em;
	padding: 0;
}

.list div:nth-child(2) {
	justify-content: space-between;
}

.list~.list {
	border-top: 0.5px solid var(--color-neutral-dark);
}

.cart-list img {
	height: 6em;
	width: 6em;
	margin: 0;
	padding: 0;
}

.cart-list h6 {
	margin: 0;
	margin-left: 0.5em;
}

.cart-list~.cart-list {
	border-top: 0.5px solid var(--color-neutral-dark);
}



.cart-totals{
	width: 50%;
}

@media (max-width: 700px) {
	.cart-totals{
		width: 100%;
	}

	.cart-list .cart-list-product-info {
		flex-direction: column;
	}

	.cart-list-product-info>div:nth-child(2) {
		margin-bottom: 0.5em;
	}
}


/*  ------------------------- CHECKOUT PAGE-------------------------  */

.checkout-review {
	width: 50%;
}

.checkout-list {
	padding-top: 0.3em;
}

@media (max-width: 700px) {
	.checkout-review{
		width: 100%;
	}
}

.checkout-list img {
	height: 4em;
	width: 4em;
	margin: 0;
	padding: 0;
}

.checkout-list h6 {
	margin-top: 0;
	margin-left: 0.5em;
	padding: 0;
}


/*  ------------------------- CONTACT PAGE-------------------------  */


.message-box {
	margin-top: 1em;
	padding: 1em;
}


/*  ------------------------- LOG-IN PAGE-------------------------  */

.log-in-form{
	width: 470px;
}

@media (max-width: 500px) {
	.log-in-form{
		width: 100%;
	}
}



/*  ------------------------- FOOTER-------------------------  */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.footer-body{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--color-main-dark);
	padding: 2em 0 1em 0;
}

footer .layout-aside {
	align-self: flex-end;
}

footer .layout-main-cols {
	-webkit-align-items: flex-end;
}

footer h5 {
	margin: 0;
	padding: 0;
	font-size: 0.7em;
}

footer .nav {
	height: fit-content;
}

footer .nav a{
	padding: 0em 2em 0 0;
	line-height: 1em;
}

footer .nav a:hover{
	font-family: SuisseBook;
	background-color: transparent;
	text-decoration: none;
}

footer .nav ul {
	display: flex;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

footer .nav li{
	font-size: 0.85em;
	line-height: 1.2em;
}

footer .nav a:hover {
	font-family: SuisseBook;
	background-color: transparent;
	color: inherit;
	transition: all 0.3s;
}




@media (max-width: 820px) {
	footer .footer-body {
		flex-direction: column;
	}

	footer .layout-main-col {
		padding: 0 0 0 1em;
	}

	footer .nav ul{
		flex-direction: column;
	}

	footer .nav a {
		padding: 0.25em 0;
	}
}


@media (max-width: 1200px) {
	footer .layout-main-cols {
		flex-direction: column;
		-webkit-align-items: flex-start;
	}

	footer .layout-aside {
		align-self: flex-start;
	}

	footer .nav {
		align-content: flex-end;
	}

	footer .newsletters-section {
		padding-top: 3em;
	}
}




/* Newsletters*/

.newsletters-section {
	width: 100%;
}

.newsletters-section form{
	width: 100%;
}

.newsletters    {
	position: relative;
}

.newsletters input{
	border-bottom: 0.7px solid var(--color-black);
	background-color: transparent;
    border-radius: 0;
    padding: 0 0 0.7em 0;
    margin: 0;
    font-size: 1em;
}

.newsletters input::placeholder {
    color: var(--color-black);
    font-family: SuisseBook;
}

.newsletters input:focus{
	border-bottom: 1.2px solid var(--color-black);
	background-color: transparent;
    border-radius: 0;
}

.newsletters input:focus::placeholder{
	opacity: 0;
}


.newsletters a {
	opacity: 0;
	position: absolute;
    top: 0;
    right: 0;

    padding-right: 0;
    padding-top: 0.5em;
    font-family: SuisseLight;
    transition: all 0.5s;
}

.newsletters input:focus + a{
	opacity: 1;
	display: block;
	padding-top: 0;
	font-family: SuisseBook;
}


.footer-credit {
	padding: 0.5em 1em;
}




.footer-credit h6{
	padding:0;
	margin: 0;
}


@media (max-width: 900px) {
	.footer-credit {
		padding: 1em;
	}
}




























