
:root{
	--color-white: #fff;
}

body {
	background-color: var(--color-white);
}

.content{
	height: 1100px;
}

#article1{
	margin-top: 60px;
}

.article-body{
	line-height: 1.3em;
}



article {
	flex-direction: row;
}