
:root{
	--color-offwhite: #f4f4f4;
}



body{
	background-image: url('../img/background1.jpeg');

	background-repeat: repeat;
	background-size: cover;
	background width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: var(--color-offwhite);

}