:root{
    --color-offwhite: #f4f4f4;
    --color-neutral-medium:#898989;
}
body{
    background-color: var(--color-offwhite);
    padding-bottom: 4em;
}
.favorite label{
    transition: all 0.3s;
    display: inline-block;
    transform: scale(1,1);
    color:var(--color-neutral-medium)
}
.favorite input:checked + label{
    color: rgb(225, 5, 5);
    transform: scale(1.5,1.5);
}
.star label{
    transition: all 0.3s;
    display: inline-block;
    transform: scale(1,1);
    color:var(--color-neutral-medium)
}
.star input:checked + label{
    color: rgb(255, 225, 1);
    transform: scale(1.5,1.5);
}
@media (max-width:800px) {
    .container{
        padding-left: 1em;
        padding-right: 1em;
    }
    .navbar h1{
        padding-left: 0.5em;
    }
}
@media (max-width:400px) {
    .navbar .display-flex{
        display: block;
    }
    .navbar .nav ls{
        line-height: 2em;
    }
}

.figure.product{
    border-radius: 0.5em;
    box-shadow: 0 2px 5px rgba(0,0,0,0,.1);
    overflow: hidden;
}
.figure.product img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
